.Job {
    display: flex;
    padding: 20px 0;
    border-bottom: 1px solid lightsteelblue;
}

.Job:hover {
    background: azure;
}

.Job a:link {
    font-size: 1.2rem;
    color: #107896;
    text-decoration: none;
}

.Icon {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding: 10px;
    justify-content: center;
}

.Title {
    padding: 0 10px;
}

.MeteData {
    color: darkgrey;
    padding: 10px 0;
}