.Job {
    display: flex;
    padding: 20px 0;
    border-bottom: 1px solid lightsteelblue;
}

.Job:hover {
    background: azure;
}

.Job a:link {
    font-size: 1.2rem;
    color: #107896;
    text-decoration: none;
}

.Icon {
    padding: 10px;
}

.Icon img {
    width: 64px;
}

.Salary {
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    color: green;
}

.Title {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    flex: 1;
    justify-content: space-between;
}

.Title a {
    padding: 10px 0;
}
.MeteData {
    font-size: 1rem;
    color: darkgrey;
    padding: 10px 0;
}