.Footer {
    color: gray;
    font-size: 0.8rem;
    text-align: center;
    margin-top: 20px;
    padding: 20px;
}

.Footer a:link, .Footer a:visited {
    color: #107896;
    text-decoration: none;
}

.Footer a:hover {
    text-decoration: underline;
}